{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
<main>
  <article class="col-xs-12 card mt-2">
    <header>
      <h2 id="sutraHeading" class="card-title  border  d-flex justify-content-between">
        {{ .Params.type }}
        {{ $sutraTitle := (print .Params.index " " .Params.sutra) }}
        {{ .Title | default $sutraTitle}}
      </h2>
    </header>
    <div id="contentDiv" class="card-body nested-links nested-img mid-gray">
      {{ .Content }}
    </div>
    <div class="css-treeview box">
      {{ range .Pages}}
      <li>
        {{partial "article-params-card" .}}
      </li>
      {{ end }}
    </div>
  </article>
</main>
{{ end }}

