{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height nested-img">
  <main class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
    {{- .Content -}}
  </main>
    <ul>
      {{ range .Paginator.Pages }}
        <li>
          <a href="{{ .URL }}" class="link black dim">
            {{ $sutraTitle := (print .Params.index " " .Params.sutra) }}
            {{ .Title | default $sutraTitle}}
          </a>
        </li>
      {{ end }}
    </ul>
  </article>
{{ end }}
