{{ define "main" }}
<!--Note that this template is used for sections as well as taxonomies.-->
<main>
  <article class="col-xs-12 card mt-2">
    <header>
      <h2 id="sutraHeading" class="card-title  border  d-flex justify-content-between">
        {{ .Title}}
      </h2>
    </header>
    <div id="contentDiv" class="card-body nested-links nested-img mid-gray">
      {{ .Content }}
    </div>
    <div class="css-treeview box">
      <ul>
          {{range $adhyaaya := seq 1 8}}
          <li><input type="checkbox" id="section-tree-item-{{$adhyaaya}}" checked="checked" /><label for="section-tree-item-{{$adhyaaya}}">{{$adhyaaya}}</label><ul>
          {{range $paada := seq 1 4}}
          <li><input type="checkbox" id="section-tree-item-{{$adhyaaya}}-{{$paada}}" checked="checked" /><label for="section-tree-item-{{$adhyaaya}}-{{$paada}}">{{$adhyaaya}}-{{$paada}}</label><ul>
          {{ $adhyaaya_paada := printf "%d.%d" $adhyaaya $paada }}
          {{ $sutra_count := index $.Site.Data.vrittiBasics.ashtadhyayi.sutraCount $adhyaaya_paada }}
          {{range $suutra := seq 1 $sutra_count}}
          {{ $adhyaaya_paada_suutra := printf "%d.%d.%d" $adhyaaya $paada $suutra}}
          {{ $sutra_info := index $.Site.Data.sutraBasics $adhyaaya_paada_suutra }}
          {{ $sutra_topics := index $sutra_info "विषयाः" }}
          {{ $sutra_text := index $sutra_info "सूत्रम्" }}
          <li>
              <aside class="card border" id="section-tree-item-{{$adhyaaya_paada_suutra}}">
              <div class="card-title bg-light-gray border d-flex justify-content-between">
                  <div><a href="sutra-details/?sutra={{$adhyaaya_paada_suutra}}">{{$adhyaaya_paada_suutra}}</a> {{$sutra_text}}</div>
                  <a data-toggle="collapse" href="#section-tree-item-body-{{$adhyaaya_paada_suutra}}" role="button" aria-expanded="false" aria-controls="section-tree-item-body-{{$adhyaaya_paada_suutra}}" >…<i class="fas fa-caret-down" class="collapsed"></i> </a>
              </div>
              <nav id="section-tree-item-body-{{$adhyaaya_paada_suutra}}" class="card-body p-0">
                  विषयाः- {{ range $topic := $sutra_topics }} {{$topic}} {{ end }}
              </nav>
              </aside>
          </li>
          {{end}}
          </ul>
          </li>
          {{end}}
          </ul>
          </li>
          {{end}}
      </ul>
    </div>
  </article>
</main>
{{ end }}
