<footer class="{{ .Site.Params.background_color_class | default "bg-orange" }} " role="contentinfo">
  <div class="container-fluid d-flex justify-content-between">
  <a class="btn btn-secondary" href="{{ "about/" | relURL }}" >
    परिचयः
  </a>
  <a class="btn btn-secondary" href="https://github.com/sanskrit/ashtadhyayi/issues/new" >
    प्रतिस्पन्दः
  </a>
  <a class="btn btn-secondary" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>
  </div>
</footer>
