<nav role="navigation">
  <div class="container-fluid d-flex justify-content-between">
    <a  href="{{ "about/" | relURL }}" class="btn btn-default">
      <i class="fas fa-home "></i>
    </a>
    <div id="sutraNavigationDiv" class="row">
      <input id="sutraSearchInputBox" placeholder="सूत्रमन्विष्यताम् + Enter"><i class="btn fas fa-search "></i>
      {{ if isset .Params "vritti"}}
        <div id="prevSutraDiv"></div>
        {{$dataRepoPath := replace .File.Path "vritti/" "" }}
        <a id="currentSutraDiv" class="btn btn-primary" href="{{print .Site.Params.githubEditMePathBase $dataRepoPath }}">सम्पाद्यताम् {{.Params.index}}।</a>
        <div id="nextSutraDiv"></div>
      {{ end }}
      {{ if eq .File.Path "_index.md"}}
        <div id="prevSutraDiv"></div>
        <div id="currentSutraDiv"></div>
        <div id="nextSutraDiv"></div>
      {{ end }}
    </div >
      {{ if .Site.Menus.main }}
      <div >
        <ul class="">
          {{ range .Site.Menus.main }}
          <li class="">
            <a class="" href="{{ .URL }}" title="{{ .Name }} page">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
      {{ partialCached "social-follow.html" . }}
  </div>
</nav>
