<nav role="navigation">
  <div class="row">
    <a  href="{{ "/" | relURL }}" class="btn btn-default col">
      <i class="fas fa-gopuram ">पाणिनीयमूलस्रोतः</i>
    </a>
    <div class="col-md-auto d-flex justify-content-center">
      </i><input id="sutraSearchInputBox" placeholder="सूत्रमन्विष्यताम् + Enter"><i class="btn fas fa-search "></i>
    </div>
    <div class="row col  d-flex justify-content-center">
      {{ if isset .Params "vritti"}}
        <div id="prevSutraDiv"></div>
        {{$dataRepoPath := replace .File.Path "vritti/" "" }}
        <a id="currentSutraDiv" class="btn btn-primary" href="{{print .Site.Params.githubEditMePathBase $dataRepoPath }}">{{.Params.index}}<i class="fas fa-edit"></i></a>
        <div id="nextSutraDiv"></div>
      {{ end }}
      {{ if eq .File.Path "_index.md"}}
        <div id="prevSutraDiv"></div>
        <div id="currentSutraDiv"></div>
        <div id="nextSutraDiv"></div>
      {{ end }}
    </div >
      {{ if .Site.Menus.main }}
      <div >
        <ul class="">
          {{ range .Site.Menus.main }}
          <li class="">
            <a class="" href="{{ .URL }}" title="{{ .Name }} page">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
      {{ partialCached "social-follow.html" . }}
  </div>
</nav>
